/* 
Table of contents:

1.  Custom Variables
2.  Global Styles
3.  Typography
4.  Color
5.  Grid
6.  Flex
7.  Layout
8.  Position
9.  Padding
10. Margin
11. @Media
*/

/* 
1.  Custom Variables
*/

:root {
  --purple: #A729F5;
  --dark-navy: #313E51;
  --navy: #3B4D66;
  --grey-navy: #626C7F; 
  --green: #26D782;
  --pure-white: #FFF;
  --light-gray: #F4F6FA;
  --light-bluish: #ABC1E1;
  --red: #EE5454;
  --faded-red: #FFF1E9;
  --faded-green: #E0FDEF;
  --faded-blue: #EBF0FF;
  --faded-purple: #F6E7FF;

  /* font-weight */
  --w3: 300;
  --w4: 400;
  --w5: 500;
  

  /* font-size */
  --s12: 0.75rem;
  --s14: 0.875rem;
  --s16: 1rem;
  --s18: 1.125rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s28: 1.75rem; 
  --s36: 2.25rem;
  --s40: 2.5rem;
  --s64: 4rem;
  --144: 9rem;

  /* border-radius */
  --r12: 12px;
  --r50: 50px;

  /* line-height */
  --l100: 1;
  --l150: 1.5;
}

/* 
2.  Global Styles
*/

@font-face {
  font-family: "Rubik-Regular";
  src: url("../assets/fonts/static/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("../assets/fonts/static/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Italic";
  src: url("../assets/fonts/static/Rubik-Italic.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
}

body {
font-family: "Rubik-Regular", sans-serif;
font-size: var(--s18);
font-weight: var(--w5);
line-height: var(--l100);
background-color: var(--light-gray);
color: var(--dark-navy);
margin: 0 auto;
padding: 0;
height: 100vh;
display: flex;
flex-direction: column;
background-image: url("/app/frontend-quiz-app/assets/images/pattern-background-mobile-light.svg");
background-repeat: no-repeat;
}

main {
  flex: 1;
}

/* 
3. Typography 
*/

.welcome h1 span {
  font-family: "Rubik-Medium", sans-serif;
}

.welcome p {
  font-family: "Rubik-Italic", sans-serif;
}

.welcome h1 {
  font-weight: var(--w3);
}

.italic {
  font-weight: var(--w4);
}

.welcome h1 span {
  font-weight: var(--w5);
}

.italic {
  font-size: var(--s14);
}

.welcome h1 {
  font-size: var(--s40);
}

.italic {
  line-height: var(--l150);
}


/* 
4.  Color
*/

.subject-1,
.subject-2,
.subject-3,
.subject-4,
.day-night-switch {
  background-color: var(--pure-white);
}

.day-night-btn {
  background-color: var(--purple);
}

.italic {
  color: var(--grey-navy);
}

.subject-1,
.subject-2,
.subject-3,
.subject-4 {
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
}


/* 
5.  Grid
*/


/* 
6.  Flex
*/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.quiz-img-wrap-home,
.subject-1,
.subject-2,
.subject-3,
.subject-4,
.sun-wrap,
.moon-wrap,
.day-night-btn {
  align-items: center;
}

.quiz-img-wrap-home,
.sun-wrap,
.moon-wrap {
  justify-content: center;
}

.day-night-wrap {
  justify-content: flex-end;
}

.welcome h1,
.day-night-wrap {
  gap: 8px;
}

.quiz-container-home {
  gap: 12px;
}

.subject-1,
.subject-2,
.subject-3,
.subject-4,
.welcome {
  gap: 16px;
}

main {
  gap: 40px;
}


/* 
7.  Layout
*/

.day-night-btn {
  cursor: pointer;
}

.day-night-switch {
  height: 12px;
  width: 12px;
}

.sun-wrap img,
.moon-wrap img {
  height: 16px;
  width: 16px;
}

.day-night-btn {
  height: 20px;
  width: 32px;
}

.quiz-img-wrap-home {
  height: 40px;
  width: 40px;
}

.welcome h1 {
  max-width: 327px;
}

.subject-1,
.subject-2,
.subject-3,
.subject-4 {
  border-radius: 12px;
}

.day-night-btn,
.day-night-switch {
  border-radius: var(--r50);
}


/* 
8.  Positioning
*/


/* 
9.  Padding
*/

.day-night-btn {
  padding: 0 4px;
}

.day-night-btn-outer-wrap {
  padding: 10px 0;
}

.subject-1,
.subject-2,
.subject-3,
.subject-4 {
  padding: 12px;
}

.sun-wrap,
.moon-wrap {
  padding: 12px 0;
}

header {
  padding: 16px 24px;
}

main {
  padding: 32px 24px 0 24px;
}


/* 
10. Margin
*/


/* 
11. @Media
*/
