/* 
Table of contents

1.  Custom Variables
2.  Global Styles
3.  Typography
4.  Color
5.  Grid
6.  Flex
7.  Layout
8.  Position
9.  Padding
10. Margin
11. Background
12. @media
*/


/* 
1.  Custom Variables
*/

:root {
  /* Colors */
  --white: #fff;
  --light-cream: #FFF7F0;  /* bg-color */
  --medium-brown: #7A746E;
  --black: #030303;
  --purple: #552049;
  --cyan: #61C4B7;
  --light-red: #EB7565;
  --faded-red: #F39E9E;
  --summer-yellow: #F6A560;
  --galactic-blue: #755CDE;

  /* font-family */
  --plus-jakarta: 'Plus Jakarta Sans', sans-serif;

  /* font-weights */
  --w5: 500;
  --w7: 700;

  /* font-sizes */
  --s14: 0.875rem;
  --s16: 1rem;
  --s18: 1.125rem;
  --s24: 1.5rem;
  --s32: 2rem;
  --s36: 2.25rem;
  --s40: 2.5rem;
  --s44: 2.75rem;
  --s56: 3.5rem;

  /* line-height */
  --l175: 1.75;
  --l155: 1.55;
  --l162: 1.62;
  --l200: 2;

  /* border-radius */
  --r8: 8px;
  --r10: 10px;
  --r28: 28px;
}


/* 
2.  Global Styles
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--light-cream);
  color: var(--medium-brown);
  height: 100vh;
  font-family: var(--plus-jakarta);
  font-weight: var(--w5);
  font-size: var(--s16);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* 
3.  Typography
*/

.link-header-footer {
  font-size: var(--s14);
}

.skills-container section h2 {
  font-size: var(--s24);
}

.intro h1 {
  font-size: var(--s36);
}

.skills-container section h2,
.intro h1,
.link-header-footer {
  font-weight: var(--w7);
}

.intro p {
  line-height: var(--l162);
}

.link-header-footer {
  line-height: var(--l200);
}


/* 
4.  Color
*/

.intro {
  text-align: center;
}

.skills-container h2 {
  color: var(--white);
}

.intro h1 {
  color: var(--black);
}

.link-header-footer {
  color: var(--light-cream);
}

.link-header-footer {
  background-color: var(--black);
}

.skill-graphic,
.link-header-footer:hover {
  background-color: var(--galactic-blue);
}

.skill-ui {
  background-color: var(--summer-yellow);
}

.skill-apps {
  background-color: var(--faded-red)  ;
}

.skill-illustration {
  background-color: var(--light-red);
}

.skill-photo {
  background-color: var(--cyan);
}

.skill-motion {
  background-color: var(--purple);
}

.link-header-footer:hover {
  transition: 500ms; 
}

/* 
5.  Grid
*/

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 24px;
}

.skill-motion,
.skill-photo,
.skill-illustration,
.skill-graphic {
  grid-column: 1 / -1;
}


/* 
6.  Flex
*/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.intro,
.home-footer,
.home-header {
  align-items: center;
}

.skills-container section {
  align-items: flex-end;
}

.home-footer div, 
.home-header div {
  justify-content: flex-end;
}

.home-footer div,
.home-header div {
  flex: 1;
} 

.intro {
  gap: 16px;
}


/* 
7.  Layout
*/

.skills-container section,
.link-header-footer {
  cursor:pointer;
}

.logo {
  height: 48px;
}

.skill-illustration {
  height: 158px;
}

.skill-motion,
.skill-photo,
.skill-ui {
  height: 182px;
}

.skill-graphic {
  height: 364px;
}

.intro p {
  width: 285px;
}

.link-header-footer {
  border: 0;
}

.skill-motion,
.skill-photo,
.skill-illustration,
.skill-apps,
.skill-ui,
.skill-graphic {
  border-radius: var(--r8);
}

.link-header-footer{
  border-radius: var(--r28);
}


/* 
8.  Position
*/


/* 
9.  Padding
*/

.link-header-footer {
  padding: 8px 28px 8px 27px;
}

.skills-container,
.intro,
footer,
header {
  padding: 16px;
}

.skills-container section {
  padding: 0 0 24px 24px;
}


/* 
10. Margin
*/


/* 
11. Background
*/

/* 
12. @media
*/

.skill-graphic {
  background-image: url("../assets/pattern-graphic-design.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-ui {
  background-image: url("../assets/pattern-ui-ux.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-apps {
  background-image: url("../assets/pattern-apps.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-illustration {
  background-image: url("../assets/pattern-illustrations.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-photo {
  background-image: url("../assets/pattern-photography.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-motion {
  background-image: url("../assets/pattern-motion-graphics.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

/* Tablet */
@media (min-width: 768px) {

  /* 
  3.  Typography
  */

  .link-header-footer {
    font-size: var(--s16);
  }

  .intro p {
    font-size: var(--s18);
  }

  .intro h1 {
    font-size: var(--s44);
  }

  .intro p {
    line-height: var(--l155);
  }

  .link-header-footer {
    line-height: var(--l175);
  }

  /* 
  4.  Color
  */


  /* 
  5.  Grid
  */

  .skills-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 182px 158px 182px;
  }

  .skill-graphic { 
    grid-row: 1 / 3;
  }

  .skill-graphic,
  .skill-photo {
    grid-column: 1 / 3;
  }

  .skill-motion,
  .skill-illustration {
    grid-column: 3 / -1;
  }




  /* 
  6.  Flex
  */


  /* 
  7.  Layout
  */

  .logo {
    height: auto;
  }

  .intro p {
    width: 573px;
  }

  .link-header-footer {
    padding: 14px 45px;
  }

  /* 
  8.  Position
  */


  /* 
  9.  Padding
  */


  /* 
  10. Margin
  */
}


/* Desktop */
@media (min-width: 1440px) {
  
  /* 
  3.  Typography
  */

  .intro h1 {
    font-size: var(--s56);
  }



  /* 
  4.  Color
  */


  /* 
  5.  Grid
  */

  .skills-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 182px 158px;
  }

  .skill-photo {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
  }

  .skill-illustration {
    grid-column: 3 / 5;
  }

  .skill-motion {
    grid-column: 5 / -1;
    grid-row: 2 / -1;
  }


  /* 
  6.  Flex
  */


  /* 
  7.  Layout
  */

  .intro p {
    width: 730px;
  }

  .skill-motion {
    height: auto;
  }


  /* 
  8.  Position
  */


  /* 
  9.  Padding
  */


  /* 
  10. Margin
  */
}
