/* 
Table of contents

1.  Custom Variables
2.  Global Styles
3.  Typography
4.  Color
5.  Grid
6.  Flex
7.  Layout
8.  Position
9.  Padding
10. Margin
11. Background
12. @media
*/


/* 
1.  Custom Variables
*/

:root {
  /* Colors */
  --white: #fff;
  --light-cream: #FFF7F0;  /* bg-color */
  --medium-brown: #7A746E;
  --black: #030303;
  --purple: #552049;
  --cyan: #61C4B7;
  --light-red: #EB7565;
  --faded-red: #F39E9E;
  --summer-yellow: #F6A560;
  --galactic-blue: #755CDE;

  /* font-family */
  --plus-jakarta: 'Plus Jakarta Sans', sans-serif;

  /* font-weights */
  --w5: 500;
  --w7: 700;

  /* font-sizes */
  --s14: 0.875rem;
  --s16: 1rem;
  --s18: 1.125rem;
  --s24: 1.5rem;
  --s26: 1.625rem;
  --s32: 2rem;
  --s36: 2.25rem;
  --s40: 2.5rem;
  --s44: 2.75rem;
  --s56: 3.5rem;

  /* line-height */
  --l175: 1.75;
  --l155: 1.55;
  --l162: 1.62;
  --l200: 2;

  /* border-radius */
  --r8: 8px;
  --r10: 10px;
  --r28: 28px;
  --r50: 50%;
}


/* 
2.  Global Styles
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--light-cream);
  color: var(--medium-brown);
  height: 100vh;
  font-family: var(--plus-jakarta);
  font-weight: var(--w5);
  font-size: var(--s16);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

/* 
3.  Typography
*/

.booking-wrap button,
.bio-wrap button,
.link-header-footer {
  font-size: var(--s14);
}

.slider-wrap h2,
.skills-container section h2 {
  font-size: var(--s24);
}

.booking-wrap h2,
.bio-wrap h2 {
  font-size: var(--s26);
}

.intro h1 {
  font-size: var(--s36);
}

.booking-wrap button,
.booking-wrap h2,
.slider-wrap h2,
.bio-wrap button,
.bio-wrap h2,
.skills-container section h2,
.intro h1,
.link-header-footer {
  font-weight: var(--w7);
}

.booking-wrap p,
.bio-wrap section p,
.intro p {
  line-height: var(--l162);
}

.booking-wrap button,
.bio-wrap button,
.link-header-footer {
  line-height: var(--l200);
}

.booking-wrap,
.slider-wrap h2,
.bio-wrap section,
.intro {
  text-align: center;
}


/* 
4.  Color
*/

.skills-container h2 {
  color: var(--white);
}

.slider-wrap h2,
.bio-wrap h2,
.intro h1 {
  color: var(--black);
}

.booking-wrap button,
.booking-wrap,
.bio-wrap button, 
.link-header-footer {
  color: var(--light-cream);
}

.booking-wrap,
.arrow-wrap button,
.link-header-footer {
  background-color: var(--black);
}

.arrow-wrap button:hover,
.skill-graphic,
.link-header-footer:hover {
  background-color: var(--galactic-blue);
}

.bio-wrap button:hover,
.skill-ui {
  background-color: var(--summer-yellow);
}

.skill-apps {
  background-color: var(--faded-red)  ;
}

.booking-wrap button,
.bio-wrap button,
.skill-illustration {
  background-color: var(--light-red);
}

.skill-photo {
  background-color: var(--cyan);
}

.skill-motion {
  background-color: var(--purple);
}

.arrow-wrap button:hover, 
.bio-wrap button:hover,
.link-header-footer:hover {
  transition: 500ms; 
}

/* 
5.  Grid
*/

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 24px;
}

.skill-motion,
.skill-photo,
.skill-illustration,
.skill-graphic {
  grid-column: 1 / -1;
}


/* 
6.  Flex
*/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.bio-wrap,
.intro,
.home-footer,
.home-header {
  align-items: center;
}

.skills-container section {
  align-items: flex-end;
}

.arrow-wrap {
  justify-content: center;
}

.home-footer div, 
.home-header div {
  justify-content: flex-end;
}

.home-footer div,
.home-header div {
  flex: 1;
} 

.slider ul {
  gap: 15px;
}

.intro {
  gap: 16px;
}

.booking-wrap section,
.booking-wrap,
.arrow-wrap,
.bio-wrap section {
  gap: 24px;
}


/* 
7.  Layout
*/

.booking-wrap button,
.arrow-wrap button,
.bio-wrap button,  
.skills-container section,
.link-header-footer {
  cursor:pointer;
}

.logo {
  height: 48px;
}

.skill-illustration {
  height: 158px;
}

.skill-motion,
.skill-photo,
.skill-ui {
  height: 182px;
}

.bio-wrap img {
  height: 286px;
}

.slider-wrap {
  height: 338px;
}

.skill-graphic {
  height: 364px;
}

.intro p {
  width: 285px;
}

.slider li img {
  height: 180px;
  width: 270px;
}

.slider {
  width: 1426px;
}

.booking-wrap button,
.arrow-wrap button,
.bio-wrap button,
.link-header-footer {
  border: 0;
}

.slider img,
.skill-motion,
.skill-photo,
.skill-illustration,
.skill-apps,
.skill-ui,
.skill-graphic {
  border-radius: var(--r8);
}

.booking-wrap {
  border-radius: var(--r10);
}

.booking-wrap button,
.bio-wrap button,
.link-header-footer{
  border-radius: var(--r28);
}

.arrow-wrap button {
  border-radius: var(--r50);
}

.slider li {
  list-style: none;
}


/* 
8.  Position
*/

.slider-wrap {
  position: relative;
  overflow: hidden;
}

.slider {
  position: absolute;
}

.slider {
  right: -525px;
}



/* 
9.  Padding
*/

.slider ul {
  padding: 0;
}

.booking-wrap button,
.bio-wrap button,
.link-header-footer {
  padding: 8px 28px 8px 27px;
}

.skills-container,
.intro,
footer,
header {
  padding: 16px;
}

.slider {
  padding: 0 16px;
}

.skills-container section {
  padding: 0 0 24px 24px;
}

.bio-wrap {
  padding: 84px 16px 60px 16px;
}

.bio-wrap div:first-child {
  padding: 0 0 40px 0 ;
}

.arrow-wrap button {
  padding: 20px;
}

.slider-wrap h2 {
  padding-bottom: 32px;
}

.booking-wrap {
  padding: 49px 24px 48px 24px;
}


/* 
10. Margin
*/

.slider ul {
  margin: 0;
}

.arrow-wrap {
  margin-top: 212px;
}

.booking-wrap {
  margin: 100px 16px 24px 16px;
}


/* 
11. Background
*/

/* 
12. @media
*/

.skill-graphic {
  background-image: url("../assets/pattern-graphic-design.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-ui {
  background-image: url("../assets/pattern-ui-ux.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-apps {
  background-image: url("../assets/pattern-apps.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-illustration {
  background-image: url("../assets/pattern-illustrations.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-photo {
  background-image: url("../assets/pattern-photography.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

.skill-motion {
  background-image: url("../assets/pattern-motion-graphics.svg");
  background-repeat: no-repeat;
  background-position-x: right 24px;
  background-position-y: top 24px;
}

/* Tablet */
@media (min-width: 768px) {

  /* 
  3.  Typography
  */

  .booking-wrap button,
  .bio-wrap button,
  .link-header-footer {
    font-size: var(--s16);
  }

  .booking-wrap p,
  .bio-wrap section p,
  .intro p {
    font-size: var(--s18);
  }

  .booking-wrap h2,
  .slider-wrap h2,
  .bio-wrap h2 {
    font-size: var(--s32);
  }

  .intro h1 {
    font-size: var(--s44);
  }

  .booking-wrap p,
  .bio-wrap section p,
  .intro p {
    line-height: var(--l155);
  }

  .booking-wrap button,
  .bio-wrap button,
  .link-header-footer {
    line-height: var(--l175);
  }

  .slider-wrap h2,
  .intro p,
  .bio-wrap section p,
  .bio-wrap section h2  {
    font-feature-settings: 'clig' off, 'liga' off;
  }

  /* 
  4.  Color
  */


  /* 
  5.  Grid
  */

  .skills-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 182px 158px 182px;
  }

  .skill-graphic { 
    grid-row: 1 / 3;
  }

  .skill-graphic,
  .skill-photo {
    grid-column: 1 / 3;
  }

  .skill-motion,
  .skill-illustration {
    grid-column: 3 / -1;
  }




  /* 
  6.  Flex
  */

  .bio-wrap {
    flex-direction: row;
  }

  .bio-wrap div:first-child {
    justify-content: center;
  }

  .bio-wrap section,
  .bio-wrap div:first-child {
    flex: 1;
  }

  .booking-wrap,
  .booking-wrap section {
    gap: 26px;
  }


  /* 
  7.  Layout
  */

  .bio-wrap section {
    text-align: start;
  }

  .logo {
    height: auto;
  }

  .bio-wrap img {
    height: 364px;
  }

  .slider-wrap {
    height: 576px;
  }

  .intro p {
    width: 573px;
  }

  .slider {
    width: 2884px;
  }

  .slider li img {
    height: 360px;
    width: 540px;
  }

  /* 
  8.  Position
  */

  .bio-wrap div:first-child {
    position: relative;
  }

  .bio-wrap img {
    position: relative;
  }

  .bio-wrap img {
    right: 60px;
  }

  .slider {
    right: -1100px;
  }


  /* 
  9.  Padding
  */

  .booking-wrap button,
  .link-header-footer,
  .bio-wrap button {
  padding: 14px 45px;
}

  header {
    padding: 34px 40px 32px 40px;
  }

  .skills-container,
  .intro {
    padding: 32px 40px 32px 40px;
  }

  .bio-wrap {
    padding: 88px 40px 120px  40px;
  }

  .bio-wrap div:first-child {
    padding: 0 ;
  }

  footer {
    padding: 56px 40px 60px 40px;
  }

  .slider-wrap h2 {
    padding-bottom: 56px;
  }


  /* 
  10. Margin
  */

  .arrow-wrap {
    margin-top: 400px;
  }


}


/* Desktop */
@media (min-width: 1440px) {
  
  /* 
  3.  Typography
  */

  .bio-wrap h2 {
    font-size: var(--s40);
  }

  .intro h1 {
    font-size: var(--s56);
  }

  .intro h1 {
    font-feature-settings: 'clig' off, 'liga' off; 
  }

  .booking-wrap section {
    text-align: start ;
  }



  /* 
  4.  Color
  */


  /* 
  5.  Grid
  */

  .skills-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 182px 158px;
  }

  .skill-photo {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
  }

  .skill-illustration {
    grid-column: 3 / 5;
  }

  .skill-motion {
    grid-column: 5 / -1;
    grid-row: 2 / -1;
  }


  /* 
  6.  Flex
  */

  .booking-wrap {
    align-items: center;
    flex-direction: row;
  }

  .booking-wrap div {
    justify-content: flex-end;
  }


  /* 
  7.  Layout
  */

  .booking-wrap p {
    width: 540px;
  }

  .intro p {
    width: 730px;
  }

  .booking-wrap div {
    width: 100%;
  }

  .skill-motion {
    height: auto;
  }

  .bio-wrap img {
    height: 445px;
  }


  /* 
  8.  Position
  */

  .slider {
    right: -750px;
  }

  /* 
  9.  Padding
  */

  header {
    padding: 34px 164px;
  }

  .skills-container {
    padding: 48px 165px;
  }

  .bio-wrap {
    padding: 48px 165px 88px 165px ;
  }

  .booking-wrap {
    padding: 81px 95px 80px 65px   ;
  }

  footer {
    padding: 56px 164px 64px 165px;
  }


  /* 
  10. Margin
  */

  .booking-wrap {
    margin: 100px 165px 0 165px;
  }  
}
