/* 
Table of contents

1.  Custom Variables
2.  Global Styles
3.  Typography
4.  Color
5.  Grid
6.  Flex
7.  Layout
8.  Position
9.  Padding
10. Margin
11. Background
12. @media
*/


/* 
1.  Custom Variables
*/


/* 
2.  Global Styles
*/


/* 
3.  Typography
*/


/* 
4.  Color
*/


/* 
5.  Grid
*/


/* 
6.  Flex
*/


/* 
7.  Layout
*/


/* 
8.  Position
*/


/* 
9.  Padding
*/


/* 
10. Margin
*/


/* 
11. Background
*/


/* 
12. @media
*/