/*
=================
TABLE OF CONTENTS
=================

1.  Custom variables
2.  Global styles
3.  App
5.  @media
6.  Attribution

*/

/*
====================
1.  Custom Variables
====================
*/

:root {
  --purple-header: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
  --grey-textbox: #EEE5F4;
  --white-color: #FFF; 

  /* text colors */

  --black-header-text: #3E2753;
  --grey-paragraph-text: #A39DA9;
  --left-textbox-text: #9341C8;
  --right-textbox-text: #6E5D7E;
  --subheading-mobile: #D99EFF;
  --placeholder-text: #C5C9CC;

  --app-background: #F5F3F7;
  --background-color: #FAFAFA;
  --app-background2: rgba(62, 39, 83, 0.05);

/* Typography */

  --font-family-rubik: 'Rubik', sans-serif;

  --line-height-11: 11px;
  --line-height-28: 28px;

  --letter-spacing: -0.07px;

  --font-size-8: 0.5rem;
  --font-size-9:  0.5625rem;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-16: 1rem;
  --font-size-40: 2.5rem;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

/*
=================
2.  Global Styles
=================
*/

*, *::before, *::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2 {
  font-size: inherit;
  line-height: 1;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-rubik);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-8);
  background-color: var(--background-color);
  color: var(--left-textbox-text);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

h1 {
  color: var(--black-header-text);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-40);
  text-align: center;
}

h2 {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-11);
  color: var(--white-color);
}

.normal-size {
  font-size: var(--font-size-16);
  color: var(--grey-paragraph-text);
}

/*
======
3. App
======
*/

.mobile-app {
  width: 247px;
  height: 505px;
  border-radius: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 30px 60px -10px rgba(62, 39, 83, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-app-inner {
  width: 228px;
  height: 483px;
  border-radius: 20px;
  border: 1px solid var(--app-background2);
  background-color: var(--app-background);
}

/* mobile header */
.mobile-header {
  height: 66px;
  width: 228px;
  background: var(--purple-header);
  border-radius: 20px 20px 6px 6px;
  box-shadow: 0px 0px 13px 0px rgba(62, 39, 83, 0.25);
  display: flex;
}

.arrow {
  width: 4px;
  height: 10px;
  margin: 37px 0 0 15.5px;
}

.profile-img {
max-width: 24px;
max-height: 24px;
border-radius: 24px;
border: 1px solid var(--white-color);
margin: 30px 0 0 8px;
}

.mobile-header section {
  margin: 30px 0 0 8px;
}

.top-p {
  color: var(--subheading-mobile);
}

.combined {
  width: 2px;
  height: 8px;
  margin: 38px 0 0 76px;
}

/* Chat area */

.dog-img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.05);
}

/*
===============
5.  Attribution
===============
*/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }