<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <meta name="description" content="challenge by frontend mentor">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="./css/index.css">
  <title>Frontend Mentor | FAQ Accordion Card</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
  <script defer type="module" src="./js/index.js"></script>
</head>
<body>
  <main>
    <div class="wrap">
      <div class="bg-box"></div>
      <div class="image-wrap">
        <div class="illustration-woman"></div>
        <div class="bg-pattern"></div>
      </div>
      <section class="faq-container">
        <h1>faq</h1>
        <div class="q q-1">
          <section>
            <h2>How many team members can I invite?</h2>
            <div class="btn-container">
              <button><img src="./images/icon-arrow-down.svg" alt="open to answer question"></button>
            </div>
          </section>
          <div class="a hidden">
            <p>You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
          </div>
        </div>
        <div class="q q-2">
          <section>
            <h2>What is the maximum file upload size?</h2>
            <div class="btn-container">
              <button><img src="./images/icon-arrow-down.svg" alt="open to answer question"></button>
            </div>
          </section>
          <div class="a hidden">
            <p>No more than 2GB. All files in your account must fit your allotted storage space.</p>
          </div>
        </div>
        <div class="q q-3">
          <section>
            <h2>How do I reset my password?</h2>
            <div class="btn-container">
              <button><img src="./images/icon-arrow-down.svg" alt="open to answer question"></button>
            </div>
          </section>
          <div class="a hidden">
            <p>Click “Forgot password” from the login page or “Change password” from your profile page.</p>
            <p>A reset link will be emailed to you.</p>
          </div>
        </div>
        <div class="q q-4">
          <section>
            <h2>Can I cancel my subscription?</h2>
            <div class="btn-container">
              <button><img src="./images/icon-arrow-down.svg" alt="open to answer question"></button>
            </div>
          </section>
          <div class="a hidden">
            <p>Yes! Send us a message and we’ll process your request no questions asked.</p>
          </div>
        </div>
        <div class="q q-5">
          <section>
            <h2>Do you provide additional support?</h2>
            <div class="btn-container">
              <button><img src="./images/icon-arrow-down.svg" alt="open to answer question"></button>
            </div>
          </section>
          <div class="a hidden">
            <p>Chat and email support is available 24/7. Phone lines are open during normal business hours.</p>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">Your Name Here</a>.
    </div>
  </footer>
</body>
</html>