<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <meta name="description" content="this is my solution to the stats preview card component challenge at frontendmentor.io">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <title>Frontend Mentor | Stats preview card component</title>

</head>
<body>

  <div class="stats-preview-card">
    <div class="bg-img"></div>
    <section class="info-wrap">
      <h1>Get <span class="insight">insights</span> that help your business grow.</h1>
      <p>Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency.</p>
      <div class="stat-wrap">
        <section>
          <span class="stats">10k+</span>
          <h2>companies</h2>
        </section>
        <section>
          <span class="stats">314</span>
          <h2>templates</h2>
        </section>
        <section>
          <span class="stats upcase">12m+</span>
          <h2>queries</h2>
        </section>
      </div>
    </section>
  </div>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="../../index.html ">Your Name Here</a>.
  </div>
</body>
</html>