<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <meta name="description" content="a challenge by frontend mentor">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="./css/index.css">
    <title>Frontend Mentor | Expenses chart component</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script defer type="module" src="./js/index.js"></script>
  </head>
  <body>
    <main>
      <div class="card-wrap">
        <div class="top-wrap">
          <section>
            <h2>My balance</h2>
            <p>$921.48</p>
          </section>
          <div class="card-img-wrap">
            <img src="./images/logo.svg" alt="my finances">
          </div>
        </div>
        <div class="bottom-wrap">
          <section class="spending">
            <h2>Spending - Last 7 days</h2>
          </section>
          <div class="chart-wrap">
            <div class="day-of-week">
              <div class="bar"></div>
              <div>
                <p>mon</p>
              </div>
              <div class="on-hover-bar"></div>
            </div>
            <div class="day-of-week">
              <div class="bar"></div>
              <div>
                <p>tue</p>
              </div>
              <div class="on-hover-bar"></div>
            </div>
            <div class="day-of-week">
              <div class="bar active-bar"></div>
              <div>
                <p>wed</p>
              </div>
              <div class="on-hover-bar"></div>
            </div class="day-of-week">
            <div>
              <div class="bar"></div>
              <div>
                <p>thu</p>
              </div>
              <div class="on-hover-bar"></div>
            </div>
            <div class="day-of-week">
              <div class="bar"></div>
              <div>
                <p>fri</p>
              </div>
              <div class="on-hover-bar"></div>
            </div>
            <div class="day-of-week">
              <div class="bar"></div>
              <div>
                <p>sat</p>
              </div>
              <div class="on-hover-bar"></div>
            </div>
            <div class="day-of-week">
              <div class="bar"></div>
              <div>
                <p>sun</p>
              </div>
              <div class="on-hover-bar"></div>
            </div>
          </div>
          <div class="card-btm">
            <section>
              <h2>Total this month</h2>
              <p>$478.33</p>
            </section>
            <div>
              <p>+2.4%</p>
              <p>from last month</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="#">Your Name Here</a>.
      </div>
    </footer>
  </body>
</html>